<div class="buyer-info">
  <div class="name">Buyer: <%= showing.buyer_name %></div>
  <div class="phone"><%= showing.buyer_phone %></div>
  <div class="buyer-type"><%= showing.buyer_type.titleize %></div>
</div>
