<div class="status">
  <% if current_user.can_accept_showing? %>
    <% if showing.status == "unassigned" %>
      <div class="three columns">
        <span class="status light-blue">Not Assigned</span>
      </div>
      <div class="nine columns">
        <%= form_for showing, url: accept_users_showing_opportunity_path(showing), method: :post do |f| %>
          <%= f.submit "Accept" %>
        <% end %>
      </div>
    <% else %>
      <div class="three columns">
        <span class="status red">Reserved</span>
      </div>
      <div class="nine columns">
        &nbsp;
      </div>
    <% end %>
  <% else %>
    <% if current_user.blocked? %>
      <p class="red">
        Your account has been blocked, you cannot accept showings.  Please contact us if you feel this is in error.
      </p>
    <% elsif !current_user.valid_bank_token? %>
      <%= link_to "Add your bank information to be able to accept showings", users_bank_payment_path %>
    <% end %>
  <% end %>
</div>
