<div class="showing-agent-info">
  <div class="avatar row">
    <div class="four columns">
      <%= image_tag showing.showing_agent.profile.avatar.url(:mini), class: "size-75" %>
    </div>
    <div class="eight columns">
      <div class="agent-name">Agent: <%= showing.showing_agent.full_name %></div>
      <div class="agent-phone">Phone: <%= showing.showing_agent.profile.phone1 %></div>
      <div class="agent-email">Email: <%= mail_to showing.showing_agent.email %></div>
    </div>
  </div>
</div>
