<div class="status">
  <%= showing.status %>
  <% if showing.status == "unassigned" %>
    <%= form_for showing, url: accept_users_showing_opportunity_path(showing), method: :post do |f| %>
      <%= f.submit "Accept" %>
    <% end %>
  <% end %>
</div>
