<% if current_user.can_accept_showing? %>
  <% begin %>
    <%= render partial: "/shared/showing/actions/#{showing.status}", locals: { showing: showing, type: :showing_opportunities } %>
  <% rescue ActionView::MissingTemplate => e %>
    <% Notification::ErrorReporter.send(e) %>
    <%# Make sure the view never breaks for a new showing status. %>
  <% end %>
<% else %>
  <% if current_user.blocked? %>
    <p class="status red">
      Your account has been blocked, you cannot accept showings.  Please contact us if you feel this is in error.
    </p>
  <% elsif !current_user.valid_bank_token? %>
    <% if showing.status == "unassigned" %>
      <%= link_to "Add your bank information to be able to accept showings", users_bank_payment_path %>
    <% else %>
      <p class="status orange">Assigned</p>
    <% end %>
  <% end %>
<% end %>
