<div class="error-page-callout-box">
  <h1>Not finding what you are looking for?</h1>
  <p>
    The page your are looking for doesn't seem to be here. Go over to your dashboard or head over to the
    homepage to chose a new direction.
  </p>
</main>
