html {
  box-sizing: border-box;
}

.logo {
  font-weight: bolder;
  font-size: 30px;
  color: #555;
}

.logo-icon {
  width: 125px;
}

.button-group {
  a.button, button, input[type='button'], input[type='submit'] {
    margin: 10px
  }
}

.centered {
  text-align: center;
}

em {
  font-style: normal;
  font-weight: bold;
}

.note {
  color: $grey;
  font-weight: 100;
}

.alert {
  color: $error-font-color;
  border: 1px solid $error-border-color;
  background: $error-background-color;
  margin: 0 0 1em;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
}

.notice {
  color: $notice-font-color;
  border: 1px solid $notice-border-color;
  background: $notice-background-color;
  margin: 0 0 1em;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
}

.required:after {
  content: "*";
  font-weight: bold;
}

.left-or-right {
  text-align: left;
  @media (min-width: 550px) {
    text-align: right;
  }
}

.align-left {
  text-align: left;
}

.flash-message {
  margin-top: 1em;
}
