html {
  box-sizing: border-box;
}

.logo {
  font-weight: bolder;
  font-size: 30px;
  color: #555;
}

.logo-icon {
  width: 125px;
}

.button-group {
  a.button, button, input[type='button'], input[type='submit'] {
    margin: 10px
  }
}

.centered {
  text-align: center;
}

em {
  font-style: normal;
  font-weight: bold;
}

.note {
  color: $medium-grey;
  font-weight: 100;
}

.alert {
  color: $error-font-color;
  border: 1px solid $error-border-color;
  background: $error-background-color;
  margin: 0 0 1em;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
}

.notice {
  color: $notice-font-color;
  border: 1px solid $notice-border-color;
  background: $notice-background-color;
  margin: 0 0 1em;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
}

.required:after {
  content: "*";
  font-weight: bold;
}

.left-or-right {
  text-align: left;
  @media (min-width: 550px) {
    text-align: right;
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.flash-message {
  margin-top: 1em;
}

select.month {
  width: 100%;
  @media (min-width: 668px) {
    width: 125px;
  }
}

select.day, select.hour, select.minute {
  width: 100%;
  @media (min-width: 668px) {
    width: 125px;
  }
}

.size-200 {
  width: 200px;
}

.size-75 {
  width: 75px;
}

.homepage-hero {
  background-color: $dark-blue;
  padding-top: 1em;

  @media (min-width: 490px) {
    border-top: 20px solid $dark-blue;
    background: image-url("home.jpg") no-repeat;
    background-size: cover;
    min-height: 600px;
  }
}

.homepage-signin-box {
  background-color: white;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em;

  h1 {
    color: $dark-blue;
    font-size: 3.5rem;
  }

  h2 {
    color: $light-blue;
    font-size: 2.5rem;
  }

  @media (min-width: 640px) {
    float: right;
    width: 490px;
  }
}

.status {
  font-weight: bold;
}

.white {
  color: $white;
}

.red {
  color: $red;
}

.light-grey {
  color: $light-grey;
}

.light-blue {
  color: $light-blue;
}

.orange {
  color: $orange;
}

.red-box {
  color: $white;
  display: inline-block;
  background-color: $red;
}
