$white: #fff;
$light-grey: #ddd;
$medium-grey: #ddd;
$grey: #A7A5A6;
$dark-grey: #666;
$black: #000;

$error-font-color: #A62121;
$error-border-color: #A62121;
$error-background-color: $white;

$notice-font-color: #444;
$notice-border-color: #9dbc89;
$notice-background-color: $white;

.white {
  color: $white;
}

.light-grey {
  color: $light-grey;
}
