#map {
  margin-bottom: 2em;
  width: 100%;
  height: 300px;

  @media (min-width: 550px) {
    max-width: 500px;
    height: 500px;
  }
}

/* ----- */

.control-group {
  display: inline-block;
  vertical-align: top;
  background: $white;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: $medium-grey;
}

.control-radio .control-indicator {
  border-radius: 50%;
}

.control:hover input ~ .control-indicator,
.control input:focus ~ .control-indicator {
  background: $light-grey;
}

.control input:checked ~ .control-indicator {
  background: $dark-blue;
}

.control:hover input:not([disabled]):checked ~ .control-indicator,
.control input:checked:focus ~ .control-indicator {
  background: $dark-blue;
}

.control input:disabled ~ .control-indicator {
  background: $pale-grey;
  opacity: 0.6;
  pointer-events: none;
}

.control-indicator:after {
  content: "";
  position: absolute;
  display: none;
}

.control input:checked ~ .control-indicator:after {
  display: block;
}

.control-checkbox .control-indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid $white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control-indicator:after {
  border-color: $dark-grey;
}

.control-radio .control-indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: $white;
}

.control-radio input:disabled ~ .control-indicator:after {
  background: $dark-grey;
}

/* ----- */

.homepage-hero {
  background-color: $dark-blue;
  padding-top: 1em;

  @media (min-width: 490px) {
    border-top: 20px solid $dark-blue;
    background: image-url("home.jpg") no-repeat;
    background-size: cover;
    min-height: 600px;
  }
}

.homepage-signin-box {
  background-color: white;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em;

  h1 {
    color: $dark-blue;
    font-size: 3.5rem;
  }

  h2 {
    color: $light-blue;
    font-size: 2.5rem;
  }

  @media (min-width: 640px) {
    float: right;
    width: 490px;
  }
}

.error-page-hero {
  background-color: $dark-blue;
  padding-top: 1em;

  @media (min-width: 490px) {
    border-top: 20px solid $dark-blue;
    background: image-url("error.jpg") no-repeat;
    background-size: cover;
    min-height: 600px;
  }
}

.error-page-callout-box {
  background-color: white;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em;

  h1 {
    color: $dark-blue;
    font-size: 3.5rem;
  }

  h2 {
    color: $light-blue;
    font-size: 2.5rem;
  }

  @media (min-width: 640px) {
    float: left;
    width: 490px;
  }
}