header {
  background: #ffffff;
  color: #323333;
  min-height: 40px;
  padding: 20px 0;
  margin-bottom: 2em;
  overflow: hidden;

  .links {
    text-align: left;

    @media (min-width: 550px) {
      text-align: right;
    }
  }

  a {
    padding-left: 7px;
    padding-right: 7px;
    color: #666;
    text-decoration: none;
  }

  a:hover {
    color: #444;
  }
}