/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media (max-width: 750px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid $pale-grey;
    margin-bottom: 1em;
  }

  /* Behave like a "row" */
  td {
    border: none;
    border-bottom: 1px solid $pale-grey;
    position: relative;
  }

  td:first-child {
    padding: 12px 15px;
  }

}
