<div class="subnav">
  <h1>Profile</h1>
</div>
<div class="subnav-2">
  <div class="container">
    <div class="four columns <% if current_page? edit_users_profile_path %>active<% end %>">
      <%= link_to "Info", edit_users_profile_path %>
    </div>
    <div class="four columns <% if current_page? users_cc_payment_path %>active<% end %>">
      <%= link_to "Payment", users_cc_payment_path %>
    </div>
    <div class="four columns <% if current_page? edit_user_registration_path %>active<% end %>">
      <%= link_to "Login Info", edit_user_registration_path %>
    </div>
  </div>
</div>