<div class="subnav">
  <h1>Buyer's Agent Info</h1>
</div>
<div class="subnav-2">
  <div class="container">
    <div class="six columns active">
      <%= link_to "My Requests", users_buyers_requests_path %>
    </div>
    <div class="six columns">
      <%= link_to "New Request", new_users_buyers_request_path %>
    </div>
  </div>
</div>