<div class="subnav">
  <h1>Profile</h1>
</div>
<div class="subnav-2">
  <div class="container">
    <div class="four columns active">
      <%= link_to "Info", edit_users_profile_path %>
    </div>
    <div class="four columns">
      <%= link_to "Payment", "#" %>
    </div>
    <div class="four columns">
      <%= link_to "Login Info", edit_user_registration_path %>
    </div>
  </div>
</div>