<div class="buyer-info">
  <div class="name">Buyer: <%= showing.buyer_name %></div>
  <div class="row">
    <div class="six columns phone"><%= showing.buyer_phone %></div>
    <div class="six columns buyer-type"><%= showing.buyer_type.titleize %></div>
  </div>
</div>
