<p>Welcome to Showami!</p>

<p>In order to confirm your account, please click the link below.</p>

<p><%= link_to "Confirm your account", confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
  By receiving this email and/or utilizing the contents, you agree to our <%= link_to "Application End User License Agreement", terms_url %> and acknowledge our <%= link_to "Privacy Policy", privacy_url %>. If you have questions, please <%= link_to "contact us", contact_url %>. Thank you!
</p>
